<div class="form-wrapper">
  <div class="form-login col-xs-12 col-md-6 col-md-offset-3">
    <div class="form-title">
      <h3>Znovu zaslat potvrzovací email</h3>
    </div>
    <hr>
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>
      <br>
      <div class="form-inputs">
        <%= f.input :email, label: "Emailová adresa", autofocus: true %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Odeslat potvrzení", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
    <br>
    
    <div class="form-links">
        <%= render "users/shared/links" %>
      </div>
  </div>
</div>