<%- model_class = Client -%>
<div class="page-header">
    <div class="row">
      <h2 class="col-xs-8">Přehled všech klientů</h2>
      <div class="col-xs-4 pull-right"><%= link_to "Nový klient", new_client_path, class: "btn btn-success btn-headline" %></div><br>
    </div>
</div>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Společnost</th>
      <th>Email</th>
      <!--<th>Tel.kontakt</th>-->
      <!--<th>IČO</th>-->
      <th>Kontaktní osoba</th>
      <th>Tel.kontakt</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <%#= link_to client_path(client) do %>
        <tr>
          <td class="link" data-link="<%= client_path(client, :format => 'html') %>" ><%= client.company_name %></td>
          <td class="link" data-link="<%= client_path(client, :format => 'html') %>" ><%= client.email %></td>
          <!--<td class="link" data-link="<%#= client_path(client, :format => 'html') %>" ><%#= client.phone_number %></td>-->
          <!--<td class="link" data-link="<%#= client_path(client, :format => 'html') %>" ><%#= client.vat_id %></td>-->
          <td class="link" data-link="<%= client_path(client, :format => 'html') %>" ><%= client.contact_person_name %></td>
          <td class="link" data-link="<%= client_path(client, :format => 'html') %>" ><%= client.contact_phone %></td>
          
          
          <td>
            <%= link_to client_path(client), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
            <%- end -%>
            <%= link_to edit_client_path(client), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do %>
              <%= glyph 'pencil' %>
            <%- end -%>
            <%= link_to client_path(client), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
            <%- end -%>
          </td>
          
        </tr>
      <%# end %>
    <% end %>
  </tbody>
</table>

<%#= link_to "Uložit",
            new_user_path,
            class: 'btn btn-primary' %>

<script>
  $(document).ready(function() {
    $("td.link").click(function() {
     window.location = $(this).data("link");    
    })
  })
</script>