<div class="form-wrapper">
  <div class="form-login col-md-6 col-md-offset-3">
    <br>
    <h2>Step 2 : add_birth</h2>
    <hr>
    <br>
    <%= simple_form_for(@account, :url => wizard_path, :method => :put, html: {class: 'form-horizontal'}, wrapper: :horizontal_form ) do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        <%#= f.association :user, :value => :user_id, as: :hidden %>
        
        <%= f.simple_fields_for :addresses, f.object.addresses.find_by(residence: 0) do |permanent| %>
      
          <h3>Adresa trvalého pobytu</h3>
          <br>
          <%#= permanent.input_field :addressable_id, value: @account.user_id, type: "hidden" %>
          <%#= permanent.input_field :addressable_type, value: "Account", type: "hidden" %>
          <%= permanent.input :street, label: 'Ulice', required: false %>
          <%= permanent.input :street_number, label: 'Číslo popisné', required: false %>
          <%= permanent.input :city, label: 'Město', required: false %>
          <%= permanent.input :zip_code, label: 'Směrovací číslo', required: false %>
          <%= permanent.input :state, label: 'Stát', required: false %>
          <%#= @permanent_address.status %>
        <% end %>
        
        <%= f.simple_fields_for :addresses, f.object.addresses.find_by(residence: 1) do |postal| %>
      
          <h3>Korespondenční adresa</h3>
          <br>
          <%#= postal.input_field :addressable_id, value: @account.user_id, type: "hidden" %>
          <%#= postal.input_field :addressable_type, value: "Account", type: "hidden" %>
          <%= postal.input :street, label: 'Ulice', required: false %>
          <%= postal.input :street_number, label: 'Číslo popisné', required: false %>
          <%= postal.input :city, label: 'Město', required: false %>
          <%= postal.input :zip_code, label: 'Směrovací číslo', required: false %>
          <%= postal.input :state, label: 'Stát', required: false %>
          <%#= @permanent_address.status %>
        <% end %>
        
      </div>
    
      <div class="form-actions">
        <%= f.submit "Další", class: "btn btn-primary btn-lg btn-block" %>
      </div>
      
      <%#= link_to "Přeskočit", next_wizard_path %>
      
    <% end %>
  </div>
</div>  