<p id="notice"><%= notice %></p>

<p>
  <strong>Addressable:</strong>
  <!--#TODO: add name of account owner --> 
  <%= @address.addressable_id.user.full_name %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @address.residence %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @address.street_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
