<div class="form-wrapper">
  <div class="form-login col-xs-12 col-md-6 col-md-offset-3">
    <div class="form-title">
      <h3>Zapomněli jste své heslo?</h3>
    </div>
    <hr>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <br>
      <div class="form-inputs">
        <%= f.input :email, label: "Emailová adresa", required: false, autofocus: true %>
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "Resetovat mé heslo", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
    <br>
    <div class="form-links">
        <%= render "users/shared/links" %>
      </div>
  </div>
</div>
    