<div class="form-wrapper">
  <div class="form-login col-md-6 col-md-offset-3">
    <br><br>
    <p>
      <h3><%= @account.user.full_name %></h3>
    </p>
    <br>
    <hr>
    <p>
      <strong>Titul před jménem:</strong>
      <%= @account.degree_before %>
    </p>
    
    <p>
      <strong>Titul za jménem:</strong>
      <%= @account.degree_after %>
    </p>
    
    <p>
      <strong>Rodné příjmení:</strong>
      <%= @account.birth_name %>
    </p>
    
    <p>
      <strong>Datum narození:</strong>
      <%= @account.birth_date %>
    </p>
    
    <p>
      <strong>Pohlaví:</strong>
      <%= @account.gender %>
    </p>
    
    <p>
      <strong>Místo narození:</strong>
      <%= @account.birth_place %>
    </p>
    
    <p>
      <strong>Rodné číslo:</strong>
      <%= @account.birth_number %>
    </p>
    
    <p>
      <strong>Národnost:</strong>
      <%= @account.nationality %>
    </p>
    
    <p>
      <strong>Rodinný stav:</strong>
      <%= @account.family_status %>
    </p>
    
    <p>
      <strong>Bankovní účet:</strong>
      <%= @account.bank_acc %>
    </p>
    
    <p>
      <strong>Zdravotní pojišťovna:</strong>
      <%= @account.insurance %>
    </p>
    
    <p>
      <strong>Adresa trvalého pobytu:</strong><br>
      <%= @permanent_address.street + " " +
          @permanent_address.street_number + ", " +
          @permanent_address.city + ", " +
          @permanent_address.zip_code + ", " +
          @permanent_address.state %>
    </p>
    
    <p>
      <strong>Korespondenční adresa:</strong><br>
      <%= @postal_address.street + " " +
          @postal_address.street_number + ", " +
          @postal_address.city + ", " +
          @postal_address.zip_code + ", " +
          @postal_address.state %>
    </p>
    
    
    <p>
      <strong>Podmínky použití:</strong> <!--#TODO: add icons for true/false -->
      <%= @account.terms %>
    </p>
    
    <p>
      <strong>Status:</strong> <!--#TODO: make visible only for managers/admins -->
      <%= @account.status %>
    </p>
    
    <%= link_to 'Upravit', edit_account_path(@account) %> |
    <%= link_to 'Zpět', root_path %>
    <%#= link_to 'Zpět', dashboard_path %>
  </div>
</div>
